[submodule "themes/hugo-notepadium"]
	path = themes/hugo-notepadium
	url = https://GitHub.com/cntrump/hugo-notepadium.git
[submodule "themes/hugo-theme-console"]
	path = themes/hugo-theme-console
	url = https://github.com/mrmierzejewski/hugo-theme-console.git
